
body {
  margin: 0;
  padding: 0;
}

p {
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 0 20px 0;
}
#header{
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0;
}
.header-log {
  padding-left: 20px;
}
.img-log img{
  width: 50%;
}

.header__nav-list{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.header__nav-list-item {
  padding-right: 15px;
  font-size: 18px;
}
/*end.header.nav*/


.main {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-mv {
  background: url(../img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.main__ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  width: 100%;
}
.main__ttl-item {
  color: #fff;
  font-size: 24px;
}
/*----------------end.main画像真ん中---------------*/


.about {
  background: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  opacity: 0.9;

}
.about__ttl {
  color: #fff;
  font-size: 32px;

}
.about__ttl-item {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: lighter;
}
/*-------------end.about--------------*/


.service {
  margin-top: 80px;
}
.service__ttl {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.service__box {
  display: flex;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card__img img {
  width: 100%;
}
.card__img {
  padding-right: 20px;
}

.card__tag {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin: 10px 0;
}
.card__tag-item {
  font-size: 15px;
  text-align: left;
  line-height: 1.5em;
}

.servis__btn {
  width: 300px;
  background: #FF6347;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin: 20px auto;
}
.servis__btn:hover {
  background: #FF6347;
  opacity: 0.8;
  cursor: pointer;
}


/*------end.３ページ目サービス.end--------*/


.news {
  background: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  opacity: 0.9;
  margin-top: 80px;
}
.news__content {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.news__ttl {
  color: #fff;
  font-size: 32px;
  font-weight: bolder;
  position: relative;
}
.news__btn {
  position: absolute;
  right: 120px;
  width: 150px;
  background: #FF6347;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.news__btn:hover {
  background: #FF4500;
  opacity: 0.8;
  cursor: pointer;
}
.news__list {
  background: #fff;
  padding: 25px 0 25px 25px;
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  border: 10px solid #000;
}
.news__list:hover {
  background: #fff;
  opacity: 0.8;
  cursor: pointer;

}
.news__list-tag {
  font-weight: bold;
}
/*------end.4ページ目.news.end-------*/


.blog {
  margin-top: 80px;
}

.blog__ttl {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
.blog__content {
  display: flex;
  justify-content: center;
}
.blog__content-card {
  width: 25%;
  padding-right: 20px;
}



.blog__content-card img {
  width: 100%;
}

/*-------end.5ページ目.blog.end------*/


.recruit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}
.recruit__box {
  background: #FF4500;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 250px;
  width: 100%;
  position: relative;
}
.recruit__box:hover {
  background: #ec8a66;
  opacity: 0.9;
  cursor: pointer;
}
.recruit__box-ttl {
  font-size: 28px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.recruit__box-second {
  background: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 250px;
  width: 100%;
  opacity: 0.9;
  position: relative;
}
.recruit__box-second:hover {
  background: rgb(53, 51, 51);
  opacity: 0.9;
  cursor: pointer;
}
.recruit__box-second-ttl {
  font-size: 28px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

/*--------------------end.6ページ.会社概要、採用情報.emd--------------*/




.contact {
  background: #F5F5F5;
  text-align: center;
  padding: 20px 0 20px 0;
  margin-top: 50px;

}
.contact__ttl {
  font-weight: bold;
  font-size: 24px;

}
.contact__ttl-tag {
  font-size: 14px;

}
.contact__btn {
  width: 300px;
  background: #FF6347;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin: 20px auto;
}
.contact__btn:hover {
  background: #FF6347;
  opacity: 0.8;
  cursor: pointer;
}

/*--------end.7ページ目contact.end-----------*/



.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(51, 49, 49);
  padding: 10px 10px 10px auto;
}
.footer__log {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding-left: 100px;
}
.footer__nav-list{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
.footer__nav-list-item {
  font-size: 12px;
  color: #fff;
  border-right: 1px solid;
  padding-right: 8px;
  padding-left: 8px;
}






@media screen and (min-width:1000px) {
  .nav {
    display: none;
  }
  .menu {
    display: none;
  }
}




@media screen and (max-width:768px) {
  .menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  right: 50px;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}

.header__nav {
  display: none;
}

.nav{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #fff;
  transition: .7s;
  text-align: center;
  display: inline;
  top: 0;
  right: 0;
}

.nav ul{
  padding-top: 80px;
}
.nav ul li{
  list-style-type: none;
  margin-top: 50px;
  color: blue;
}

/*------@media.fotter-nav-----*/
.footer{
  text-align: center;
}
.footer__log {
  text-align: center;
}
.footer__nav {
  margin: 0 auto;
  width: 100%;
  display: block;
}
.footer__nav-list{
  display: block;
  margin-right: 0;
  padding: 0;
}
.footer__nav-list-item {
  border: none;
  padding-bottom: 10px;
}

/*------@media.about.@media-----*/
.about {
  padding-right: 50px;
}

/*------@media.service.@media-----*/
.service__box {
  display: block;
}

/*------@media.news.@media-----*/
.news {
  padding-right: 50px;
}

/*------@media.blog.@media-----*/
.blog__content {
  display: block;
  margin: 50px;
}
.blog__content-card {
  width: 100%;
  padding-right: 0;
}
}
/*--------end.レスポンシブ768px以下.end----------*/
